.nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  height: 89px;
  padding: 0 60px;
}

.logo,
.user {
  text-decoration: none;
  color: #0290ff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-family: 'Montserrat', sans-serif;
}

.nav-links li {
  list-style-type: none;
}

.links,
.links-cate {
  text-decoration: none;
  color: #bebcbc;
  font-size: 20px;
}

.links {
  color: var(--black-two);
  opacity: 0.85;
}

.icon {
  text-decoration: none;
  list-style-type: none;
}
