.nav {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  height: 89px;
}

.logo,
.user {
  text-decoration: none;
  color: #0290ff;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-links li {
  list-style-type: none;
}

.links {
  text-decoration: none;
  color: #bebcbc;
  font-size: 20px;
}

.icon {
  text-decoration: none;
  list-style-type: none;
}
