@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  padding: 60px 60px;
}
